extends layout
block content

 h1 #{title}
 table.table.table-bordered.table-hover
  
    tr
      th ID
      th RegisteredName
      th DisplayName
      th RegisteredAt
      th RegistrationNumber
    
    each item in userinfos
      tr
        td #{item.ID}
        td #{item.RegisteredName}
        td #{item.DisplayName}
        td #{item.RegisteredAt}
        td #{item.RegistrationNumber}